<footer>
    <div class="row">
        <div class="twelve columns">
            <ul class="social-links">
                {% for social in profile.getSocials() %}
                    <li>
                        <a href="{{ social.getLink() }}" title="{{ social.getTitle() }}" target="_blank">
                            <i class="{{ social.getClassname() }}"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <ul class="copyright">
                <li>&copy; Copyright 2014 CeeVee</li>
                <li>Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>   
            </ul>
        </div>

        <div id="go-top">
            <a class="smoothscroll" title="Revenir au début" href="#home">
                <i class="icon-up-open"></i>
            </a>
        </div>
    </div>
</footer>
